<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main_div">

        <div class="top" id="top1">
            <h2 id="heading">Color Game</h2>
            <strong id="sub_heading">Choose the correct Color</strong>
        </div>
        <div class="mid" id="mid1">
            <div class="mid_left">
                <button class="menu" id="reset_btn" value="Reset">Reset</button>
                <button class="menu" id="login_btn" value="login">login</button>
                <button class="signup" id="signup_btn" value="signup">signup</button>

            </div>

            <div class="mid_center" id="win_message">you win</div>
            <div class="mid_right">
                <button class="menu" id="difficulty" value="difficulty_lower"> difficulty lower</button>
                <button class="menu" id="difficulty" value="difficulty_rise">difficlty rise</button>

            </div>
        </div>
        <div class="bottom" id="bottom1">
            <div class="bottom_inner" id="bottom_up">
                <div class="color_div" id="cd1"></div>
                <div class="color_div" id="cd2"></div>
                <div class="color_div" id="cd3"></div>

            </div>

            <div class="bottom_inner" id="bottom_down">
                <div class="color_div" id="cd4"></div>
                <div class="color_div" id="cd5"></div>
                <div class="color_div" id="cd6"></div>
            </div>




        </div>

    </div>


</body>

</html>